@import './variable.scss';

button {
	background: rgba(255, 255, 255, 0.05);
	border-top-right-radius: $border-radius;
	border-bottom-right-radius: $border-radius;
	border-right: 1px solid rgba(255, 255, 255, 0.4);
	border-top: 1px solid rgba(255, 255, 255, 0.4);
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
	border-left: transparent;
	width: 10%;
	color: rgba(255, 255, 255, 0.8);
	cursor: pointer;
}

.load-more {
	margin: 1rem 41.2rem;
	height: 2rem;
	border-left: 1px solid rgba(255, 255, 255, 0.4);
	border-bottom-left-radius: $border-radius;
	border-top-left-radius: $border-radius;
}
